@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "pacifico";
  src: url("../public/Font/Pacifico-Regular.ttf");
}

html {
  scroll-behavior: smooth;
}

.text-stroke {
  color: transparent;
  font-size: 100px;
  margin-left: 15px;
  padding-top: 60px;
  font-weight: bolder;
  text-transform: uppercase;
  -webkit-text-stroke: 1px rgb(219, 215, 215);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
